<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Events</title>
  <%= stylesheet_link_tag 'event', media: 'all' %>
  <style>
    /* 附加样式以减少卡片间距 */
    .card-custom {
      max-width: 100%; /* 使卡片更长 */
      margin: 10px; /* 减少卡片间距 */
    }

    .container-fluid {
      padding-right: 15px; /* 减少容器的左右内边距 */
      padding-left: 15px;
    }

    .card-img-custom {
      width: 100%; /* 设置图片宽度以填满容器 */
      height: auto; /* 保持图片的纵横比 */
    }
  </style>
</head>
<body>
  <div class="nav-item">
    <%= link_to 'My Profile', user_path(current_user), class: 'btn btn-info profile-button' %>
  </div>

  <div class="container-fluid">
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-md-12">
          <div class="card mb-3 card-custom">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="https://source.unsplash.com/random/400x300?campus&sig=<%= event.id %>" class="card-img card-img-custom" alt="Campus Image">

              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= event.title %></h5>
                  <p class="card-text"><%= event.description %></p>
                  <p class="card-text"><small class="text-muted">Last updated <%= time_ago_in_words(event.updated_at) %> ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div style="position: fixed; bottom: 20px; right: 20px;">
    <%= link_to 'New Event', new_event_path, class: 'btn btn-new-event' %> <!-- mb-2 为按钮添加一些底部外边距 -->
    <%= link_to 'My Events', my_events_user_path(current_user), class: 'btn btn-primary' %>
  </div>
</body>
</html>
