<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Events</title>
  <%= stylesheet_link_tag 'event', media: 'all' %>
  <style>
    .card-custom {
      max-width: 100%;
      margin: 10px;
    }

    .container-fluid1 {
  padding-right: 15px;
  padding-left: 15px;
}

    .card-img-custom {
      width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <div class="nav-item">
    <%= link_to 'My Profile', user_path(current_user), class: 'btn btn-info profile-button' %>
  </div>

  <div class="container-fluid1">
    <div class="row">
      <% @user_events_by_event_id.each do |event_id, user_events| %>
        <div class="col-md-12">
          <div class="card mb-3 card-custom">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="https://source.unsplash.com/random/400x300?campus&sig=<%= user_events.first.event.id %>" class="card-img card-img-custom" alt="Campus Image">
              </div>
              <div class="col-md-6">
                <h5 class="card-title">
                  <%= link_to user_events.first.event.title, event_path(user_events.first.event) %>
                </h5>
                <p class="card-text">
                  Hosted by: <%= user_events.first.user.profile.first_name %> <%= user_events.first.user.profile.last_name %> 
                </p>
                <p class="card-text">
                  When: <%= user_events.first.event.start_time.strftime("%A, %d %b %Y %l:%M %p") %> 
                </p>
                <p class="card-text">
                  Where: <%= user_events.first.event.location_name %>
                </p>
                <p class="card-text">
                  Status: <%= user_events.first.event.status %> 
                </p>
                <p class="card-text">
                  <small class="text-muted">
                    Last updated <%= time_ago_in_words(user_events.first.event.updated_at) %> ago
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div style="position: fixed; bottom: 20px; right: 20px;">
    <%= link_to 'New Event', new_event_path, class: 'btn btn-new-event' %> 
    <%= link_to 'My Events', my_events_user_path(current_user), class: 'btn btn-primary' %>
  </div>
</body>
</html>
