<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Events</title>
  <%= stylesheet_link_tag 'event', media: 'all' %>
</head>
<body>
  <div class="nav-item">
    <%= link_to 'My Profile', user_path(current_user), class: 'btn btn-info profile-button' %>
  </div>

  <div class="container">
    <h1>All Events</h1>
    <div class="events-list">
      <% @events.each do |event| %>
        <div class="event">
          <h2><%= event.title %></h2>
          <p><%= event.description %></p>
          <!-- Add other event details you want to show -->
        </div>
      <% end %>
    </div>

  </div>
  <%= link_to 'My Events',  my_events_user_path(current_user), class: 'btn btn-primary return-to-all-events' %>

</body>
</html>
