<h1><%= @event.title %></h1>

<p><strong>Description:</strong> <%= @event.description %></p>
<p><strong>Start Time:</strong> <%= @event.start_time %></p>
<p><strong>Duration:</strong> <%= @event.duration %> hours</p>
<p><strong>Location Name:</strong> <%= @event.location_name %></p>
<p><strong>Location Coordinates:</strong> <%= @event.location_coordinates %></p>
<p><strong>Status:</strong> <%= @event.status %></p>

<% if current_user %>
  <% if @event.active?&&!current_user.joined_event?(@event)&&!current_user.hold_event?(@event)  %>
    <%= link_to 'Join Event', join_event_path(@event), method: :post %>
  <% end %>
  <% if @event.active?&&current_user.joined_event?(@event)&&!current_user.hold_event?(@event)  %>
    <%= link_to 'Leave Event', leave_event_path(@event), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <% if @event.active?&&!current_user.joined_event?(@event)&&current_user.hold_event?(@event)  %>
  <%= link_to 'Cancel Event', cancel_event_path(@event), method: :patch, data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>
<%= link_to 'Back', events_path %>


<div id="map" style="height: 400px; width: 100%;"></div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  let map;

  window.initMap = function() {
    const eventCoordinates = getEventCoordinates();

    map = new google.maps.Map(document.getElementById('map'), {
      center: eventCoordinates,
      zoom: 15
    });

    new google.maps.Marker({
      position: eventCoordinates,
      map: map
    });
  };

  function getEventCoordinates() {
    // Parse coordinates from @event.location_coordinates
    const coords = "<%= @event.location_coordinates %>".split(",");
    return new google.maps.LatLng(parseFloat(coords[0]), parseFloat(coords[1]));
  }
});
</script>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap", async: true, defer: true %>

