<!DOCTYPE html>
<html>
  <head>
    <title>Dinnect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    
  </head>
  <body>

    <header name="top">

    <nav class="custom-navbar navbar custom-nav-color" role="navigation" id="custom-nav">
    <div class="custom-container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="custom-navbar-header custom-nav-color">
      <ul class="nav navbar-nav navbar-right custom custom-nav">
      <% if current_user %>
        <li class="custom-nav-item">
          <%= link_to 'Logout', logout_path, method: :delete, class: 'btn custom-nav-link' %>
        </li>
        <% else %>
        <li class="custom-nav-item">
        <%= link_to 'Dinnect','/', class: 'btn custom-nav-link' %>
      </li>
      <% end %>
    </ul>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="custom-collapse navbar-collapse custom-nav-submenu-color collapse" id="custom-bs-navbar-collapse-1">
        <!-- Additional content goes here -->
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.custom-container -->
  </nav>
  </header>
  

    <% if flash[:success] %>
      <div class="alert alert-success">
        <%= flash[:success] %>
      </div>
    <% elsif flash[:danger] %>
      <div class="alert alert-danger">
        <%= flash[:danger] %>
      </div>
    <% end %>

    <main class="container">
      <%= yield %>
    </main>

    <!-- Add your footer content here if needed -->
  </body>
</html>
