<!DOCTYPE html>
<html>
  <head>
    <title>Dinnect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Add your stylesheet link here -->
    <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>


    <!-- Add your JavaScript includes here -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="container">
          <span class="navbar-brand">Dinnect</span>
          <ul class="navbar-nav">
            <% if current_user %>
              <li class="nav-item">
                Welcome, <%= current_user.username %>!
              </li>
              <li class="nav-item">
                <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Login Page', login_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <main class="container">
      <%= yield %>
    </main>

    <!-- Add your footer content here if needed -->
  </body>
</html>
